---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <!-- Hero -->
  <div class="relative isolate">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-20">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
      <div class="text-center">
        <h1
          class="text-4xl font-black sm:text-6xl bg-gradient-to-tr from-primary-gradient-dark to-primary-gradient-light bg-clip-text text-transparent"
        >
          Green Experts
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-darker">
          The GSF Contributors initiative acknowledges a dynamic and global
          community of GSF experts whose passion for sharing knowledge creates a
          tangible influence within the community. Contributors consistently go
          the extra mile.
        </p>
      </div>
    </div>
  </div>

  <!-- Cards  -->
  <div
    class="grid grid-cols-1 md:grid-cols-4 justify-center items-center mx-auto gap-6"
  >
   
  </div>
</BaseLayout>
