---
import Layout from "@/layouts/layout.astro";
import Directory from "@/components/Directory";
---

<Layout>
  <!-- Hero -->
  <div class="relative isolate">
    <div class="mx-auto max-w-2xl py-10 md:py-20">
      <div class="text-center">
        <h1
          class="text-3xl md:text-6xl font-black tracking-tight text-primary-default"
        >
          Champions Directory
        </h1>
        <p class="mt-6 md:text-lg text-gray-darker">
          The Green Software Champions project showcases the amazing work of our community. Find amazing speakers, writers, organizers, mentors & contributors around the world who are leading the way in decarbonizing software.
        </p>
      </div>
    </div>
  </div>
  <Directory client:load/>
</Layout>
