---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Directory from "@/components/Directory";
---

<BaseLayout>
  <!-- Hero -->
  <div class="relative isolate">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-20">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
      <div class="text-center">
        <h1
          class="text-4xl font-black tracking-tight text-primary-default sm:text-6xl"
        >
          Champions Directory
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-darker">
          The Green Software Champions project showcases the amazing work of our community. Find amazing speakers, writers, organizers, mentors & contributors around the world who are leading the way in decarbonizing software.
        </p>
      </div>
    </div>
  </div>
  <Directory client:load/>
</BaseLayout>
