---
import logo from "@/assets/ChampionsLogo-invert.svg";
const year = new Date().getFullYear();
---

<footer
  class="bg-primary-darker py-8 px-16 md:py-24 md:px-60 mx-auto text-center md:text-left"
>
  <div class="grid grid-cols-1 md:grid-cols-4 md:space-x-24">
    <div class="flex flex-col gap-4">
      <img src={logo.src} alt="Champions Logo" class="w-40 mx-auto md:mx-0" />
      <p  class="text-gray-300 text-xs font-normal pt-4">
        Copyright © {year} Joint Development Foundation Projects, LLC, Green
        Software Foundation Series <br /><br /> The Joint Development Foundation
        Projects, LLC is an affiliate of the Linux Foundation.
      </p>
    </div>

    <!-- Links -->
    <div class="flex flex-col gap-4 pt-8">
      <h1 class="uppercase text-accent-default font-bold text-xs relative">
        Links
        <span
          class="hidden md:flex absolute left-0 -bottom-1 h-[2px] w-4 bg-accent-default space-y-6"
        ></span>
      </h1>

      <div class="flex flex-col gap-4">
        <a href="https://grnsft.org/champions/contact" class="text-xs text-gray-300"
          >Contact a Green Software Champion</a
        >
        <a href="https://grnsft.org/champions/chairguide" target="_blank" rel="noopener noreferrer" class="text-xs text-gray-300">For GSF Project & WG Chairs</a>
        <a href="https://github.com/Green-Software-Foundation/champions" target="_blank" rel="noopener noreferrer" class="text-xs text-gray-300">GitHub Repo</a>
      </div>
    </div>

    <!-- Legal  -->
    <div class="flex flex-col gap-4 pt-8">
      <h1 class="uppercase text-accent-default font-bold text-xs relative">
        Legal
        <span
          class="hidden md:flex absolute left-0 -bottom-1 h-[2px] w-4 bg-accent-default space-y-6"
        ></span>
      </h1>
      <div class="flex flex-col gap-4">
        <a href="https://greensoftware.foundation/policy/trademark" target="_blank" rel="noopener noreferrer" class="text-xs text-gray-300">Trademark Policy</a>
        <a href="https://greensoftware.foundation/policy/terms" target="_blank" rel="noopener noreferrer" class="text-xs text-gray-300">Privacy Policy</a>
        <a href="https://greensoftware.foundation/policy/terms" target="_blank" rel="noopener noreferrer" class="text-xs text-gray-300">Terms and Conditions</a>
      </div>
    </div>

    <!-- GSF Info -->
    <div class="flex flex-col gap-4 pt-8">
      <h1 class="uppercase text-accent-default font-bold text-xs relative">
        GSF Info
        <span
          class="hidden md:flex absolute left-0 -bottom-1 h-[2px] w-4 bg-accent-default space-y-6"
        ></span>
      </h1>
      <div class="flex flex-col gap-4">
        <a href="https://greensoftware.foundation/" target="_blank" rel="noopener noreferrer" class="text-xs text-gray-300">Website</a>
        <a href="https://twitter.com/gsfcommunity" target="_blank" rel="noopener noreferrer" class="text-xs text-gray-300">Twitter</a>
        <a href="https://www.linkedin.com/company/green-software-foundation/" target="_blank" rel="noopener noreferrer" class="text-xs text-gray-300">LinkedIn</a>
      </div>
    </div>
  </div>
</footer>
