---
import { Icon } from "astro-icon";
import Button from "./ui/button.astro";
const navLinks = [
  { name: "Foundation Wiki", href: "https://grnsft.org/wiki" },
  { name: "GSF Website", href: "https://grnsft.org" },
];
---

<nav>
  <div class="flex items-center justify-between">
    <div class="flex space-x-7">
      <div>
        <a href="#" class="flex items-center">
          <Icon name="champions-logo" class="h-14" />
        </a>
      </div>
    </div>
    <div class="hidden md:flex items-center gap-4">
      {
        navLinks.map((link) => (
          <a
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
            class="text-gray-800 font-bold hover:text-primary-dark transition duration-300"
          >
            {link.name}
          </a>
        ))
      }
    </div>
    <div class="hidden md:block">
      <Button href="https://grnsft.org/champions/apply">
        Become a Champion
      </Button>
    </div>
    <!-- Mobile menu button -->
    <div class="md:hidden flex items-center">
      <button
        class="outline-none mobile-menu-button"
        onclick="document.getElementById('mobile-menu').classList.toggle('hidden')"
      >
        <svg
          class="w-6 h-6 text-gray-500 hover:text-primary-default"
          x-show="!showMenu"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>
  <!-- Mobile menu -->
  <div class="md:hidden hidden" id="mobile-menu">
    <ul class="flex flex-col">
      {
        navLinks.map((link) => (
          <li class="py-2 text-center">
            <a
              href={link.href}
              target="_blank"
              rel="noopener noreferrer"
              class="block py-2 px-4 text-sm font-bold hover:bg-primary-default transition duration-300"
            >
              {link.name}
            </a>
          </li>
        ))
      }
      <li>
        <Button href="https://grnsft.org/champions/apply">
          Become a Champion
        </Button>
      </li>
    </ul>
  </div>
</nav>
<script>
  const btn = document.querySelector("button.mobile-menu-button");
  const menu = document.querySelector(".mobile-menu");

  btn?.addEventListener("click", () => {
    menu?.classList.toggle("hidden");
  });
</script>
